{% stylesheet %}
:root{
  --fontsize-title: 32px;
}
  .shopify-section.sundarisilks__singleCollection--promotion {
    margin-bottom: -80px;
  }.shopify-section.sundarisilks__singleCollection--promotion {
  margin-bottom: -80px;
}
.shopify-section.sundarisilks__singleCollection--promotion .sundarisilks__singleCollection-page h1,
.shopify-section.sundarisilks__singleCollection--promotion .sundarisilks__singleCollection-page h2,
.shopify-section.sundarisilks__singleCollection--promotion .sundarisilks__singleCollection-page h3,
.shopify-section.sundarisilks__singleCollection--promotion .sundarisilks__singleCollection-page p {
  padding: 0;
  margin: 0;
}
.shopify-section.sundarisilks__singleCollection--promotion .sundarisilks__singleCollection-page {
  background: url("https://sundarisilks.com/cdn/shop/t/33/assets/pattern.png"), #fae0c0;
  background-repeat: repeat;
}
.shopify-section.sundarisilks__singleCollection--promotion .sigle-collection-banner {
  border-radius: 0px 0px 100px 100px;
}
.shopify-section.sundarisilks__singleCollection--promotion .sundarisilks__singleCollection-page .container {
  padding: 40px 14px;
  max-width: 1200px;
  margin: 0 auto;
}
.shopify-section.sundarisilks__singleCollection--promotion .sigle-collection-banner img {
  width: 100%;
  height: auto;
}
.shopify-section.sundarisilks__singleCollection--promotion .section-title p {
  max-width: 794px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 16px;
}
.shopify-section.sundarisilks__singleCollection--promotion .section-title h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #000000;
  /* padding-bottom: 24px; */
}
.shopify-section.sundarisilks__singleCollection--promotion .section-title .section-title-divider {
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 20px;
}
.shopify-section.sundarisilks__singleCollection--promotion .section-title-divider img {
  margin: 0 auto;
}
.shopify-section.sundarisilks__singleCollection--promotion .container.about--content__wrapper {
  background: linear-gradient(94.86deg, #f4c099 0%, #f3c07b 50%, #f2bf74 100%);
  border-radius: 16px;
  display: flex;
  max-height: 450px;
  align-items: flex-end;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  margin: 80px auto 0;
}
.shopify-section.sundarisilks__singleCollection--promotion .about--content {
  max-width: 590px;
  text-align: center;
  padding: 124px 0;
}
.shopify-section.sundarisilks__singleCollection--promotion .about--content p {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: var(--fontsize-title);
  line-height: normal;
  text-align: center;
  color: #885519;
  padding-bottom: 16px;
}
.shopify-section.sundarisilks__singleCollection--promotion .about--content a {
  display: inline-block;
  padding: 16px 24px;
  background: #ffffff;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #885519;
}
.shopify-section.sundarisilks__singleCollection--promotion .product__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .shopify-section.sundarisilks__singleCollection--promotion .product__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.shopify-section.sundarisilks__singleCollection--promotion .product__card--image {
  /* background-image: url('https://sundarisilks.com/cdn/shop/t/33/assets/border-image.png'); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* padding: 10px; */
  border: 10px solid #f3ecdc;
  overflow: hidden;
  border-radius: 0px 0px 40px 40px;
  margin-bottom: 8px;
  width: 100%;
  /* min-height: 388px; */
}
.shopify-section.sundarisilks__singleCollection--promotion .product__card--title {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  display: inline-block;
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.shopify-section.sundarisilks__singleCollection--promotion .product__card--price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.shopify-section.sundarisilks__singleCollection--promotion .container.about__collection--special {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}
.shopify-section.sundarisilks__singleCollection--promotion .about__collection--special:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999em;
  right: -9999em;
  z-index: -1;
  background-color: #feedd9;
}
.shopify-section.sundarisilks__singleCollection--promotion .blog__lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .shopify-section.sundarisilks__singleCollection--promotion .blog__lists {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.shopify-section.sundarisilks__singleCollection--promotion .blog__list {
  border: 1px solid #c2964b;
  border-radius: 0px 0px 40px 40px;
  padding-bottom: 40px;
}
.shopify-section.sundarisilks__singleCollection--promotion .blog__list--image {
  margin-bottom: 20px;
}
.shopify-section.sundarisilks__singleCollection--promotion .blog__list--title {
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
}
.shopify-section.sundarisilks__singleCollection--promotion .blog__list--date {
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}
.shopify-section.sundarisilks__singleCollection--promotion .blog__list--content {
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}
.shopify-section.sundarisilks__singleCollection--promotion .blog__list--link-text {
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}
.shopify-section.sundarisilks__singleCollection--promotion .blog__list--link {
  display: inline-block;
}

.shopify-section.sundarisilks__singleCollection--promotion .feature__list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopify-section.sundarisilks__singleCollection--promotion .feature__list li.feature__card{
  padding: 16px 24px;
  text-align: center;
    margin: 0 auto;
}
.shopify-section.sundarisilks__singleCollection--promotion .feature__list svg {
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
}
.shopify-section.sundarisilks__singleCollection--promotion .feature__list .feature__card--content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

{% endstylesheet %}

<div class="sundarisilks__singleCollection-page">
  <section class="">
    <div class="sigle-collection-banner">
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="{{ 'single-collection-banner-mobile.png' | asset_url }}"
          type="image/png"
        >
        <img
          src="{{ 'single-collection-banner.png' | asset_url }}"
          alt="Description of the image"
          width="1440"
          height="550"
        >
      </picture>
    </div>
  </section>

  <section class="container">
    <div class="section-title">
      <h2>New Arrivals of Soft Silks</h2>
      <div class="section-title-divider">
        <img
          src="{{ 'section-title-divider.svg' | asset_url }}"
          alt="Section Title Divider"
          width="392"
          height="40"
        >
      </div>
    </div>
    <div class="product__list">
      {%- assign collection_handle = 'contemporary-soft-silk' -%}
      {%- assign collection = collections[collection_handle] -%}
      {% for product in collection.products limit: 4 %}
        {% if product.available %}
          <div class="prodct__card">
            <a href="{{ product.url | within: collection }}" class="product__card--link">
              {% if product.featured_image != blank %}
                <img
                  loading="lazy"
                  class="product__card--image lazyload"
                  src="{{ product.featured_image | image_url: width: '288x'  }}"
                  width="288"
                  height="auto"
                  data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                  alt="
                    {% if  product.feature_image.alt != blank %}
                    {{ product.feature_image.alt }}
                    {% else %}
                    {{ product.title }}
                    {% endif %}
                  "
                >
                {% comment %}
                {% endcomment %}
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'product-img' }}
              {% endif %}
              <h3 itemprop="name" class="product__card--title">{{ product.title }}</h3>

              {% if product.price_varies %}
                <p class="product__card--price">
                  From {{ product.price_min | money_with_currency }} to
                  {{ product.price_max | money_without_currency }}
                </p>
              {% else %}
                <p class="product__card--price">
                  {% if product.compare_at_price_max > product.price %}
                    <span
                      ><s>{{ product.compare_at_price_max | money_with_currency }}</s></span
                    >
                    <span>{{ product.price | money_with_currency }}</span>
                  {% else %}
                    <span>{{ product.price | money_with_currency }}</span>
                  {% endif %}
                </p>
              {% endif %}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>

  <section class="container about--content__wrapper">
    <div class="about--content">
      <p>Lorem ipsum dolor sit amet consectetur. Convallis vitae metus aliquet id tempus eget.</p>
      <a href="#">KNOW MORE</a>
    </div>
    <div class="about--image">
      <img src="{{ 'single-collection-model.png' | asset_url }}" width="460" height="530" class="" alt="">
    </div>
  </section>

  <section class="container">
    <div class="section-title">
      <h2>Recommended For You</h2>
      <div class="section-title-divider">
        <img
          src="{{ 'section-title-divider.svg' | asset_url }}"
          alt="Section Title Divider"
          width="392"
          height="40"
        >
      </div>
    </div>
    <div class="product__list">
      {%- assign collection_handle = 'contemporary-soft-silk' -%}
      {%- assign collection = collections[collection_handle] -%}
      {% for product in collection.products limit: 4 %}
        {% if product.available %}
          <div class="prodct__card">
            <a href="{{ product.url | within: collection }}" class="product__card--link">
              {% if product.featured_image != blank %}
                <img
                  loading="lazy"
                  class="product__card--image lazyload"
                  src="{{ product.featured_image | image_url: width: '288x'  }}"
                  width="288"
                  height="auto"
                  data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                  alt="
                    {% if  product.feature_image.alt != blank %}
                    {{ product.feature_image.alt }}
                    {% else %}
                    {{ product.title }}
                    {% endif %}
                  "
                >
                {% comment %}
                {% endcomment %}
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'product-img' }}
              {% endif %}
              <h3 itemprop="name" class="product__card--title">{{ product.title }}</h3>

              {% if product.price_varies %}
                <p class="product__card--price">
                  From {{ product.price_min | money_with_currency }} to
                  {{ product.price_max | money_without_currency }}
                </p>
              {% else %}
                <p class="product__card--price">
                  {% if product.compare_at_price_max > product.price %}
                    <span
                      ><s>{{ product.compare_at_price_max | money_with_currency }}</s></span
                    >
                    <span>{{ product.price | money_with_currency }}</span>
                  {% else %}
                    <span>{{ product.price | money_with_currency }}</span>
                  {% endif %}
                </p>
              {% endif %}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
<!-- 
  <section class="container about__collection--special">
    <div class="section-title">
      <h2>Sundari Silks Guarantee</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Magnis volutpat tempor fermentum purus porttitor. Augue interdum sapien nulla enim viverra magna sed.</p>
      <div class="section-title-divider">
        <img
          src="{{ 'section-title-divider.svg' | asset_url }}"
          alt="Section Title Divider"
          width="392"
          height="40"
        >
      </div>
    </div>

    <div class="feature__list">
  <ul>
  <li class="feature__card">
    <div class="feature__card--icon">
      <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1438_4966)">
        <path d="M60.4408 42.8573C60.0993 39.3443 58.3005 36.1471 55.3757 33.8545C54.2477 32.9704 52.9666 32.2314 51.5539 31.6429V15.8031C51.5539 15.4682 51.3753 15.1587 51.0852 14.9912L26.4957 0.794541C26.2057 0.62708 25.8482 0.62708 25.5582 0.794541L0.96875 14.9912C0.678594 15.1587 0.5 15.4682 0.5 15.8031V44.1966C0.5 44.5315 0.678594 44.841 0.96875 45.0084L25.5582 59.2051C25.7032 59.2888 25.8651 59.3307 26.027 59.3307C26.1888 59.3307 26.3507 59.2889 26.4957 59.2051L51.0852 45.0084C51.2779 44.8971 51.4198 44.7225 51.4945 44.52C52.1341 45.3452 52.5771 46.2703 52.7863 47.2453C53.5595 50.8474 51.2298 54.3496 46.7064 56.385C46.2722 56.5805 46.0534 57.0706 46.1979 57.5244C46.3236 57.9193 46.6896 58.1776 47.0905 58.1775C47.1504 58.1775 47.2109 58.1718 47.2716 58.1598C51.6115 57.3082 55.1634 55.2893 57.5434 52.3213C59.739 49.5837 60.7679 46.2226 60.4408 42.8573ZM26.027 28.9173L19.1727 24.96L41.8871 11.8458L48.7414 15.8031L26.027 28.9173ZM12.0417 20.843L34.7561 7.72876L40.0121 10.7633L17.2977 23.8775L12.0417 20.843ZM16.3603 25.5013L16.3602 34.517L11.1043 31.4825L11.1042 22.4667L16.3603 25.5013ZM26.027 2.68899L32.8811 6.6463L10.1667 19.7604L3.3125 15.8031L26.027 2.68899ZM2.375 17.427L9.22918 21.3843L9.2293 32.0238C9.2293 32.3588 9.40789 32.6682 9.69805 32.8357L16.8289 36.9526C16.9739 37.0363 17.1358 37.0783 17.2977 37.0783C17.4595 37.0783 17.6214 37.0364 17.7664 36.9526C18.0566 36.7852 18.2352 36.4757 18.2352 36.1408L18.2353 26.5839L25.0895 30.5412V56.7696L2.375 43.6554V17.427ZM26.9645 56.7695V30.5412L49.6789 17.427V30.9735C47.729 30.3853 45.5769 30.0489 43.2649 29.9776V26.9456C43.2649 26.5815 43.0541 26.2502 42.7242 26.0963C42.3942 25.9422 42.0048 25.993 41.7256 26.2267L30.8871 35.2982C30.6662 35.4831 30.5427 35.7592 30.5518 36.0471C30.5611 36.335 30.702 36.6027 30.9343 36.773L41.7729 44.7247C42.0579 44.9338 42.436 44.9649 42.7511 44.8051C43.0663 44.6455 43.265 44.3222 43.265 43.9689V40.817C45.7476 40.9504 47.9285 41.6182 49.6161 42.7686C49.6375 42.7833 49.6578 42.7988 49.679 42.8135V43.6554L26.9645 56.7695ZM52.8753 54.0138C53.107 53.7113 53.3189 53.4004 53.5108 53.0814C54.6902 51.1212 55.0736 48.967 54.6197 46.8519C54.1427 44.6297 52.7408 42.6293 50.6721 41.2192C48.4625 39.7131 45.5769 38.9169 42.3274 38.9169C41.8097 38.9169 41.3899 39.3367 41.3899 39.8544V42.1181L33.0075 35.9682L41.3899 28.9526V30.9006C41.3899 31.4183 41.8097 31.8381 42.3274 31.8381C53.5162 31.8381 58.0725 37.8716 58.5747 43.0384C58.9426 46.8248 57.2182 51.2361 52.8753 54.0138Z" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_1438_4966">
        <rect width="60" height="60" fill="white" transform="translate(0.5)"/>
        </clipPath>
        </defs>
        </svg>
      </div>
    <p class="feature__card--content">7 Days return*</p>
  </li>
  <li class="feature__card">
    <div class="feature__card--icon">
      <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1438_5012)">
        <path d="M56.2998 27.1129L54.746 20.8979C55.1708 20.8076 55.4895 20.4308 55.4895 19.9792V18.9772C55.4895 16.8015 53.7194 15.0315 51.5438 15.0315H44.4666V12.9645C44.4666 11.8939 43.5957 11.0229 42.5251 11.0229H6.44984C5.37922 11.0229 4.50828 11.8939 4.50828 12.9645V30.0001C4.50828 30.5188 4.92887 30.9396 5.44777 30.9396C5.96656 30.9396 6.38727 30.519 6.38727 30.0001V12.9645C6.38727 12.9299 6.41527 12.9019 6.44984 12.9019H42.525C42.5595 12.9019 42.5875 12.9299 42.5875 12.9645V30.0003C42.5875 30.5191 43.0081 30.9398 43.527 30.9398C44.0458 30.9398 44.4665 30.5192 44.4665 30.0003V28.9353H55.5488C55.5498 28.9353 55.5505 28.9355 55.5513 28.9355C55.5522 28.9355 55.553 28.9354 55.5539 28.9354C56.9176 28.9363 58.0755 29.8314 58.4732 31.0648H55.552C55.0332 31.0648 54.6125 31.4854 54.6125 32.0043V34.0085C54.6125 35.6316 55.933 36.9521 57.5561 36.9521H58.6209V41.0856H56.1644C55.3575 38.7556 53.1425 37.0772 50.5415 37.0772C47.9405 37.0772 45.7255 38.7556 44.9186 41.0856H44.4663V34.0083C44.4663 33.4896 44.0457 33.0688 43.5268 33.0688C43.008 33.0688 42.5873 33.4894 42.5873 34.0083V41.0854H23.0957C22.2888 38.7554 20.0738 37.077 17.4729 37.077C14.8719 37.077 12.6568 38.7554 11.85 41.0854H6.44984C6.41527 41.0854 6.38727 41.0574 6.38727 41.0228V38.956H10.4582C10.977 38.956 11.3977 38.5354 11.3977 38.0165C11.3977 37.4976 10.9771 37.077 10.4582 37.077H1.43949C0.920703 37.077 0.5 37.4976 0.5 38.0165C0.5 38.5354 0.920586 38.956 1.43949 38.956H4.5084V41.0228C4.5084 42.0935 5.37934 42.9644 6.44996 42.9644H11.5246C11.5244 42.9853 11.523 43.006 11.523 43.027C11.523 46.3078 14.1922 48.9768 17.4729 48.9768C20.7535 48.9768 23.4227 46.3078 23.4227 43.027C23.4227 43.0059 23.4213 42.9853 23.4211 42.9644H44.5933C44.5931 42.9853 44.5917 43.006 44.5917 43.027C44.5917 46.3078 47.2609 48.9768 50.5415 48.9768C53.8222 48.9768 56.4914 46.3078 56.4914 43.027C56.4914 43.0059 56.49 42.9853 56.4897 42.9644H59.5604C60.0792 42.9644 60.4999 42.5438 60.4999 42.0249V32.0041C60.5 29.53 58.6746 27.4744 56.2998 27.1129ZM44.4666 16.9103H51.5438C52.6835 16.9103 53.6107 17.8375 53.6107 18.9772V19.0397H44.4666V16.9103ZM44.4666 27.0564V20.9186H52.8145L54.3489 27.0564H44.4666ZM17.4729 47.0982C15.2281 47.0982 13.4019 45.2721 13.4019 43.0272C13.4019 40.7824 15.2281 38.9562 17.4729 38.9562C19.7176 38.9562 21.5438 40.7824 21.5438 43.0272C21.5438 45.2721 19.7176 47.0982 17.4729 47.0982ZM50.5418 47.0982C48.297 47.0982 46.4708 45.2721 46.4708 43.0272C46.4708 40.7824 48.297 38.9562 50.5418 38.9562C52.7865 38.9562 54.6127 40.7824 54.6127 43.0272C54.6127 45.2721 52.7865 47.0982 50.5418 47.0982ZM58.6211 35.0731H57.5564C56.9693 35.0731 56.4916 34.5955 56.4916 34.0083V32.9436H58.621V35.0731H58.6211Z" fill="black"/>
        <path d="M17.4728 41.0857C16.4022 41.0857 15.5312 41.9566 15.5312 43.0273C15.5312 44.0979 16.4022 44.9688 17.4728 44.9688C18.5434 44.9688 19.4144 44.0979 19.4144 43.0273C19.4144 41.9566 18.5434 41.0857 17.4728 41.0857Z" fill="black"/>
        <path d="M50.5422 41.0857C49.4715 41.0857 48.6006 41.9566 48.6006 43.0273C48.6006 44.0979 49.4715 44.9688 50.5422 44.9688C51.6128 44.9688 52.4837 44.0979 52.4837 43.0273C52.4837 41.9566 51.6128 41.0857 50.5422 41.0857Z" fill="black"/>
        <path d="M39.5185 37.0774H25.4893C24.9705 37.0774 24.5498 37.498 24.5498 38.0169C24.5498 38.5358 24.9704 38.9564 25.4893 38.9564H39.5185C40.0373 38.9564 40.458 38.5358 40.458 38.0169C40.458 37.498 40.0374 37.0774 39.5185 37.0774Z" fill="black"/>
        <path d="M15.4685 33.0688H3.4434C2.92461 33.0688 2.50391 33.4894 2.50391 34.0083C2.50391 34.5272 2.92449 34.9478 3.4434 34.9478H15.4685C15.9873 34.9478 16.408 34.5272 16.408 34.0083C16.408 33.4894 15.9873 33.0688 15.4685 33.0688Z" fill="black"/>
        <path d="M33.1681 20.3168C32.8013 19.95 32.2064 19.95 31.8396 20.3169L23.485 28.6714L19.1389 24.3252C18.772 23.9583 18.1771 23.9583 17.8103 24.3252C17.4434 24.6921 17.4434 25.2869 17.8103 25.6538L22.8208 30.6643C23.0042 30.8478 23.2447 30.9394 23.485 30.9394C23.7254 30.9394 23.966 30.8478 24.1492 30.6643L33.168 21.6455C33.5349 21.2785 33.5349 20.6837 33.1681 20.3168Z" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_1438_5012">
        <rect width="60" height="60" fill="white" transform="translate(0.5)"/>
        </clipPath>
        </defs>
        </svg>
        
      </div>
    <p class="feature__card--content">Free Delivery</p>
  </li>
  <li class="feature__card">
    <div class="feature__card--icon">
      <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M40.7375 8.6952H40.733C40.6039 8.69156 40.4753 8.71432 40.3553 8.76209C40.2352 8.80987 40.1262 8.88166 40.0348 8.97305C39.4918 9.52384 39.7486 10.4284 40.9213 12.0941C41.7885 13.3257 43.0641 14.8275 44.5133 16.3227C45.7075 17.5705 46.9832 18.7376 48.332 19.8163C49.8899 21.0297 50.588 21.2436 50.9948 21.2436C51.0323 21.2437 51.0699 21.2418 51.1073 21.2381C51.3293 21.2215 51.5382 21.1264 51.6965 20.9698L51.7007 20.9657C52.2435 20.4149 51.9867 19.5103 50.8141 17.8446C49.9469 16.613 48.6713 15.1112 47.2224 13.6161C46.4272 12.7957 42.3773 8.70094 40.7375 8.6952ZM45.5232 15.3437C43.4443 13.1992 42.1748 11.5184 41.5786 10.5376C42.5328 11.1619 44.1558 12.4722 46.2126 14.5951C48.2904 16.7397 49.5597 18.419 50.1562 19.3998C49.2029 18.7754 47.5798 17.4655 45.5232 15.3437Z" fill="black"/>
        <path d="M49.9466 10.9246C44.438 5.18797 38.5786 1.31246 35.3662 1.2793H35.3234C34.5098 1.2793 33.8595 1.51707 33.3906 1.98594C32.1917 3.18348 32.4797 5.57047 34.2174 8.90398L31.342 11.7785C31.2779 11.8041 31.2142 11.8306 31.1516 11.8585L20.7923 16.4817C20.3867 16.6611 19.9284 16.6812 19.5086 16.5378C19.0889 16.3945 18.7386 16.0983 18.5275 15.7082C18.3898 15.4541 18.3178 15.1695 18.3181 14.8804C18.318 14.5385 18.4175 14.2039 18.6044 13.9176C18.7913 13.6312 19.0575 13.4054 19.3706 13.2678L19.9717 13.0053C20.0564 12.9684 20.1329 12.9151 20.197 12.8486C20.261 12.7821 20.3114 12.7036 20.3451 12.6177C20.3788 12.5317 20.3953 12.4399 20.3936 12.3476C20.3918 12.2553 20.3719 12.1642 20.335 12.0795C20.2981 11.9949 20.2448 11.9184 20.1783 11.8543C20.1118 11.7902 20.0333 11.7399 19.9474 11.7062C19.8614 11.6724 19.7696 11.656 19.6773 11.6577C19.585 11.6594 19.4939 11.6793 19.4092 11.7162L18.807 11.9793C18.1409 12.2709 17.5956 12.7831 17.263 13.4296C16.9304 14.0762 16.8308 14.8177 16.981 15.5291C17.1312 16.2405 17.522 16.8785 18.0876 17.3354C18.6531 17.7924 19.3589 18.0405 20.086 18.0379C20.5271 18.0381 20.9633 17.9451 21.3659 17.765L28.5682 14.5509L9.84438 33.2679C6.38372 31.2054 3.89547 30.7803 2.63208 32.0435C1.42786 33.2477 1.72844 35.668 3.50137 39.0426C5.12348 42.1305 7.8052 45.6934 11.0526 49.0752C14.0227 52.1689 17.2102 54.8291 20.0279 56.5667C21.7192 57.6097 23.9302 58.7192 25.6833 58.7191C26.0623 58.725 26.4392 58.6621 26.7957 58.5334C27.1006 58.4206 27.3777 58.2437 27.6082 58.0146C28.755 56.8706 28.5384 54.6234 26.9872 51.5001L51.54 26.9565C53.8266 28.2634 55.3904 28.6585 56.4457 28.6584C56.8243 28.6652 57.2008 28.6029 57.557 28.4748C57.8608 28.3614 58.1369 28.1847 58.3671 27.9564C59.5714 26.7522 59.2708 24.332 57.4979 20.9573C55.8757 17.8694 53.194 14.3066 49.9466 10.9246ZM9.53372 35.5664L10.2965 34.8046C10.9222 37.4707 13.6642 41.2625 16.4854 44.2006C19.837 47.6914 23.3934 50.1876 25.7395 50.7597L24.8945 51.6043L24.8981 51.6122L24.8917 51.6058C24.7764 51.7212 24.5553 51.7439 24.3912 51.7419C22.8126 51.7257 19.1671 49.577 15.2543 45.5013C10.2196 40.2564 8.85391 36.2461 9.53372 35.5664ZM26.6145 57.0195C26.525 57.1077 26.4175 57.1753 26.2993 57.2177C25.3149 57.5901 23.2462 56.8993 20.7659 55.3698C18.0472 53.6929 14.9573 51.1115 12.067 48.1012C4.93352 40.6725 2.34321 34.321 3.62653 33.0378C4.43079 32.2336 6.77477 33.1359 8.81477 34.2972L8.53973 34.572C7.64032 35.4711 7.82196 37.2052 9.06508 39.5868C10.1693 41.7024 12.0072 44.1486 14.2403 46.4745C18.05 50.4429 22.1236 53.1245 24.377 53.1474H24.409C25.0258 53.1474 25.5223 52.9632 25.8864 52.5996L25.8761 52.5893L25.9347 52.5522C27.1356 55.1195 27.0979 56.5374 26.6145 57.0195ZM27.1554 49.3438C27.0409 49.4582 26.82 49.4791 26.6573 49.4785C25.0745 49.4622 21.421 47.3094 17.5002 43.2264C15.5432 41.1888 13.8719 39.0194 12.7928 37.1185C11.7434 35.2698 11.4825 34.0716 11.5904 33.5117L13.2102 31.8924C13.8264 34.5563 16.568 38.3512 19.4038 41.3048C22.7526 44.792 26.3017 47.2861 28.6416 47.8591L27.1554 49.3438ZM30.0569 46.4432C29.942 46.5581 29.7225 46.5798 29.5587 46.5785C27.9822 46.5622 24.3361 44.4105 20.4181 40.3306C16.0496 35.7808 14.227 31.8473 14.5118 30.5909L16.1345 28.9687C16.7468 31.6332 19.4881 35.43 22.3295 38.3892C25.6754 41.8734 29.2237 44.3649 31.5639 44.9367L30.0569 46.4432ZM32.9816 43.5199C32.8663 43.6353 32.645 43.6577 32.4816 43.6558C30.9036 43.6399 27.2582 41.4911 23.3443 37.4152C18.9595 32.8489 17.1427 28.9127 17.4399 27.6642L19.0612 26.0436C19.6761 28.7068 22.4168 32.5019 25.2549 35.4584C28.6027 38.9445 32.152 41.4377 34.4927 42.01L32.9816 43.5199ZM35.9089 40.5937C35.7939 40.7088 35.5762 40.7315 35.4096 40.7294C33.8322 40.7134 30.1859 38.5631 26.269 34.4845C21.894 29.9268 20.074 25.994 20.3636 24.7414L21.991 23.1146C22.6098 25.7795 25.3517 29.5736 28.1832 32.5229C31.5326 36.0109 35.0843 38.5051 37.4266 39.077L35.9089 40.5937ZM38.8427 37.6611L38.842 37.6603C38.727 37.7752 38.5101 37.7971 38.343 37.7957C36.764 37.7797 33.1155 35.6287 29.1974 31.5487C24.843 27.0136 23.0158 23.0805 23.2901 21.8157L24.9542 20.1516C25.4923 22.7314 28.0877 26.4771 31.1673 29.6841C34.0132 32.649 37.6892 35.5293 40.2984 36.2054L38.8427 37.6611ZM41.5731 34.9313C40.3457 35.1961 36.5475 33.2581 32.1818 28.7103C27.1059 23.4243 25.7177 19.3921 26.397 18.7129L26.3954 18.7113L27.8677 17.2394C28.0309 18.0007 28.3831 18.8911 28.9244 19.9106C30.0494 22.0248 31.8868 24.4575 34.0973 26.7594C36.9405 29.7205 40.6163 32.6011 43.2262 33.279L41.5731 34.9313ZM44.4987 32.0068C43.2661 32.2629 39.4675 30.322 35.112 25.7854C32.9888 23.5739 31.2323 21.2529 30.1661 19.2499C29.0201 17.0969 29.0787 16.0804 29.2989 15.8093L30.7979 14.3108C30.9598 15.0673 31.3081 15.9516 31.8428 16.9634C32.9678 19.0864 34.8095 21.5285 37.0287 23.8402C39.8647 26.7934 43.5391 29.6743 46.1493 30.3574L44.4987 32.0068ZM47.4182 29.0888C46.8791 29.1897 45.7261 28.9033 43.9435 27.8018C42.1006 26.6629 40.0048 24.9102 38.0425 22.8668C33.2249 17.8484 31.7195 13.9184 32.1714 12.9761C32.2807 12.943 32.3919 12.9169 32.5045 12.898C34.1231 12.6275 34.9371 13.7875 36.4817 16.2254C37.3966 17.6695 38.4337 19.3062 39.9838 20.9204C42.7963 23.8489 46.4654 26.7317 49.0776 27.4303L47.4182 29.0888ZM57.3723 26.9628C57.2826 27.0506 57.1751 27.1182 57.057 27.161C56.113 27.5182 54.1435 26.8876 51.7885 25.4735C49.0048 23.8032 45.8214 21.1651 42.8249 18.0448C42.1972 17.3912 41.5818 16.7206 40.996 16.051C40.9359 15.9792 40.862 15.9202 40.7788 15.8774C40.6956 15.8345 40.6046 15.8087 40.5113 15.8015C40.418 15.7942 40.3241 15.8057 40.2353 15.8352C40.1464 15.8647 40.0644 15.9117 39.9939 15.9733C39.9235 16.035 39.8661 16.11 39.825 16.1942C39.784 16.2783 39.7601 16.3698 39.7549 16.4633C39.7497 16.5567 39.7632 16.6503 39.7946 16.7385C39.826 16.8267 39.8747 16.9077 39.9379 16.9768C40.5379 17.6622 41.1684 18.3492 41.8105 19.0184C44.6125 21.9364 47.5841 24.4479 50.2715 26.1823C49.6898 26.2313 48.5472 25.9086 46.8464 24.8495C45.0169 23.7102 42.9399 21.9689 40.9979 19.9463C39.5455 18.4346 38.5486 16.8609 37.6697 15.4728C36.4519 13.5509 35.3692 11.8425 33.5997 11.5102L34.9287 10.1817C35.7549 11.5689 36.6632 12.9055 37.649 14.1843C37.7051 14.2577 37.775 14.3193 37.8549 14.3656C37.9348 14.412 38.023 14.4421 38.1145 14.4543C38.2061 14.4666 38.2991 14.4606 38.3883 14.4369C38.4776 14.4132 38.5613 14.3721 38.6347 14.3161C38.708 14.26 38.7696 14.19 38.816 14.1101C38.8623 14.0303 38.8924 13.942 38.9046 13.8505C38.9169 13.759 38.911 13.6659 38.8872 13.5767C38.8635 13.4875 38.8224 13.4038 38.7664 13.3304C37.6293 11.8645 36.6042 10.3151 35.6997 8.69527C34.5525 6.59879 33.52 3.84371 34.3847 2.98039C34.5849 2.78023 34.9121 2.67957 35.352 2.68555C36.6528 2.69867 38.6801 3.57816 41.0627 5.16184C43.5971 6.84688 46.3183 9.17645 48.9323 11.8987C56.0657 19.3275 58.656 25.6789 57.3726 26.9622L57.3723 26.9628Z" fill="black"/>
        </svg>
        
    <p class="feature__card--content">Fully Hand-maded</p>
  </li>
  <li class="feature__card">
    <div class="feature__card--icon">
      <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M52.9343 17.6755C52.9228 17.6449 52.9085 17.6176 52.894 17.5886C52.8576 17.5153 52.8126 17.4489 52.7584 17.3874C52.7391 17.3655 52.7231 17.3427 52.7019 17.3227C52.6262 17.2513 52.5418 17.1884 52.4434 17.1446L46.4405 14.4769C46.9581 13.7525 47.3062 12.9116 47.3658 11.9316C47.5087 9.56772 45.9468 7.50458 43.4785 6.79779C41.5614 6.24847 39.4017 6.67831 37.2346 8.04108C36.5693 8.45999 35.9177 8.9645 35.2908 9.52229L30.8809 7.56226C30.6387 7.45468 30.3627 7.45377 30.1191 7.56226L25.7238 9.51571C23.7644 7.79308 21.4948 6.5625 19.2129 6.5625C18.6357 6.5625 18.0662 6.64169 17.521 6.79779C15.0523 7.50458 13.4904 9.56772 13.6342 11.9321C13.694 12.9118 14.0419 13.7525 14.5595 14.4769L8.55664 17.1446C8.45834 17.1884 8.37405 17.2512 8.2984 17.3226C8.27712 17.3426 8.26104 17.3656 8.24164 17.3875C8.18757 17.4489 8.14254 17.5153 8.10614 17.5885C8.09167 17.6175 8.07736 17.6448 8.06586 17.6756C8.02707 17.779 8 17.8872 8 18.0016V42.9172C8 43.2875 8.21835 43.6235 8.55664 43.7737L30.1191 53.3565C30.1329 53.3627 30.1483 53.3602 30.1623 53.3656C30.2713 53.4081 30.3842 53.4375 30.5 53.4375C30.6158 53.4375 30.7287 53.4081 30.8377 53.3656C30.8517 53.3602 30.8671 53.3627 30.8809 53.3565L52.4434 43.7737C52.7821 43.6235 53 43.2875 53 42.9172V18.0016C53 17.8871 52.973 17.779 52.9343 17.6755ZM29.5625 28.194V51.0576L20.1875 46.8911V24.0275L29.5625 28.194ZM30.5 26.5582L21.5904 22.5987L28.9985 19.3803C29.0132 19.374 29.0221 19.3611 29.0363 19.354C29.3662 19.3781 29.6986 19.4044 30.0262 19.4275C30.0262 19.4275 30.5068 19.4577 30.5165 19.4577C30.5453 19.4577 30.9729 19.4279 30.9729 19.4279C31.3009 19.4048 31.6338 19.3784 31.9641 19.3543C31.9782 19.3612 31.9869 19.374 32.0015 19.3803L39.4097 22.5988L30.5 26.5582ZM41.7355 21.5651L35.8077 18.9899C37.1323 18.8251 38.4567 18.6114 39.7633 18.2835C41.0409 17.9631 43.3063 17.2439 45.0359 15.9051L49.7545 18.0016L41.7355 21.5651ZM38.2335 9.62814C39.4932 8.83484 40.6807 8.43658 41.7802 8.43658C42.1867 8.43658 42.5813 8.49106 42.9622 8.60046C44.2961 8.98224 45.597 10.1253 45.4945 11.8176C45.3526 14.1357 42.2059 15.7384 39.3074 16.4653C36.8684 17.0769 34.3022 17.3071 31.7891 17.4898C32.7165 15.1094 35.204 11.5352 38.2335 9.62814ZM30.5 9.44458L33.8579 10.9369C32.4615 12.4625 31.2817 14.1953 30.5079 15.768C29.749 14.197 28.5848 12.4625 27.1702 10.9247L30.5 9.44458ZM18.0374 8.60046C18.4146 8.49243 18.8101 8.4375 19.2129 8.4375C23.2568 8.4375 27.8701 13.9636 29.2192 17.4907C26.7033 17.3076 24.1343 17.0778 21.6926 16.4653C18.7945 15.7384 15.6469 14.1357 15.5055 11.8181C15.403 10.1257 16.703 8.98224 18.0374 8.60046ZM15.9641 15.9051C17.6935 17.2439 19.9588 17.9631 21.2367 18.2835C22.5433 18.6115 23.8677 18.8252 25.1923 18.99L19.2646 21.5651L11.246 18.0016L15.9641 15.9051ZM9.875 19.4444L18.3125 23.1942V46.0578L9.875 42.3079V19.4444ZM31.4375 28.194L40.8125 24.0275V46.8911L31.4375 51.0576V28.194ZM42.6875 46.0578V23.1942L51.125 19.4444V42.3079L42.6875 46.0578Z" fill="black"/>
        </svg>
        
      </div>
    <p class="feature__card--content">Order Benefits </p>
  </li>
  </ul>
  </div>
  </section>
-->
  <section class="container">
    <div class="section-title">
      <h2>Latest Blogs</h2>
      <div class="section-title-divider">
        <img
          src="{{ 'section-title-divider.svg' | asset_url }}"
          alt="Section Title Divider"
          width="392"
          height="40"
        >
      </div>
    </div>
    <div class="blog__lists">
      {% assign blog = blogs.article %}
      {% assign articles = blog.articles | reverse | limit: 4 %}
      {% for article in blog.articles limit: 3 %}
        <div class="blog__list">
          {% if article.image %}
            <a href="{{ article.url }}" class="blog__list--link">
              <div class="blog__list--image">
                <img
                  id="Image-{{ article.id }}"
                  loading="lazy"
                  class="{{ article_class }} blog-feed-card-image"
                  src="{{article.image.src | image_url: width:388, height: 370, crop: 'top'  }}"
                  alt="{{ article.image.alt | escape }}"
                >
              </div>
              <div class="blog__list--title">
                {{ article.title | escape }}
              </div>
              <div class="blog__list--date">
                <span>
                  {{ article.published_at | date: '%B %d, %Y' }}
                </span>
              </div>
              <div class="blog__list--content">
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt | strip_html | truncate: 90 }}
                {% else %}
                  {{ article.content | strip_html | truncate: 90 }}
                {% endif %}
              </div>
              <div class="blog__list--link-text">View More</div>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Single Collection Page",
  "tag": "div",
  "class": "sundarisilks__singleCollection--promotion",
  "settings": [
    {
      "type": "text",
      "label": "Border Color",
      "id": "border_color",
      "default": "#fff",
      "placeholder": "#fff"
    },
    {
      "type": "number",
      "label": "Border Radius",
      "id": "border_radius",
      "default": 10,
      "placeholder": "10"
    }
  ],
  "blocks": [
    {
      "type": "collection_banner_image",
      "name": "Collection Banner Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "label": "Desktop",
          "id": "desktop",
          "info": "image size"
        },
        {
          "type": "image_picker",
          "label": "Mobile Image",
          "id": "mobile_image",
          "info": "image size"
        }
      ]
    },
    {
      "type": "new_arrival_section",
      "name": "New Arrival Section",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "label": "New Arrival Section Heading",
          "id": "new_arrival_section_heading",
          "placeholder": "New Arrivals of Soft Silks"
        },
        {
          "type": "checkbox",
          "label": "New Arrival Section Heading Divider",
          "id": "new_arrival_section_heading_divider"
        }
      ]
    },
    {
      "type": "collection_name",
      "name": "Collection Name",
      "settings": [
        {
          "type": "collection",
          "label": "Collection Name",
          "id": "collection_name"
        }
      ]
    },
    {
      "type": "about_collection",
      "name": "About Collection ",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "textarea",
          "label": "Content",
          "id": "content"
        },
        {
          "type": "url",
          "label": "URL",
          "id": "url"
        },
        {
          "type": "image_picker",
          "label": "Model Image",
          "id": "model_image",
          "info": "Model Image"
        }
      ]
    }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
